<h3 class="text-center mb-3 mt-4" id="cap3">
    Capítulo III<br>
    Da organização administrativa
</h3>

<p>
    <b class="ms-5">Artigo 11</b> - A Associação exercerá suas atividades por meio dos seguintes órgãos:
<ol class="ms-5">
    <li>Assembleia Geral; </li>
    <li>Diretoria; </li>
    <li>Conselho Fiscal. </li>
</ol>
</p>

<p><b class="ms-5">Artigo 12</b> - A Assembleia Geral é a instância máxima decisória da Associação, sendo composta por todos os
    sócios fundadores e colaboradores em pleno gozo de seus direitos, competindo-lhes deliberar sobre todos os atos
    relativos à Associação e tomar as decisões que julgar convenientes à defesa e desenvolvimento dele, sendo
    soberana nas resoluções não contrárias às leis vigentes e a este Estatuto. </p>

<p>
    <b class="ms-5">Artigo 13</b> - Compete à Assembleia Geral:
<ol class="ms-5">
    <li>Eleger, a cada 3 (três) anos, os membros da Diretoria e do Conselho Fiscal, definindo suas funções,
        atribuições e responsabilidades de acordo com o presente estatuto; </li>
    <li>Destituir os membros da Diretoria e do Conselho Fiscal; </li>
    <li>Excluir associados; </li>
    <li>Aplicar aos associados as penalidades previstas neste Estatuto; </li>
    <li>Decidir sobre a organização de novas unidades da Associação; </li>
    <li>Deliberar e aprovar o plano de ação e o orçamento, anuais da Associação. </li>
    <li>Deliberar e aprovar as reformas e alterações do presente Estatuto; </li>
    <li>Deliberar e aprovar a aquisição de bens imóveis pela Associação; </li>
    <li>Autorizar a alienação ou instituição de ônus sobre os bens pertencentes à Associação; </li>
    <li>Autorizar, se for o caso, a contratação de Auditoria Independente desde que recomendada pelo Diretor
        Tesoureiro; </li>
    <li>Deliberar sobre a dissolução da Associação em ato especificamente convocado para tal fim, de maneira que,
        como órgão máximo decisório, determine sobre a paralisação das atividades, fechamento da sede, continuidade
        do objeto social, sub-rogação dos direitos e deveres de seus membros e destinação de seus bens patrimoniais
        remanescentes. </li>
</ol>
</p>

<p><b class="ms-5">Artigo 14</b> - A Assembleia Geral será ordinária ou extraordinária, podendo ser cumulativamente convocadas e
    realizadas no mesmo local, data e hora e instrumentadas em ata única. </p>

<p>
    <b class="ms-5">Parágrafo Primeiro</b> - A assembleia Geral instalar-se-á ordinariamente, por convocação da Diretoria:
<ol class="ms-5">
    <li>
        No primeiro semestre de cada ano para:
        <ol>
            <li>Analisar o orçamento e o desenvolvimento do plano de ação;</li>
            <li>Debater e deliberar sobre assuntos de interesse da Associação.</li>
            <li>Apresentação do Balanço e aprovação das contas do exercício anterior;</li>
            <li>Apresentação dos resultados alcançados no semestre anterior;</li>
        </ol>
    </li>
    <li>
        No segundo semestre de cada ano para:
        <ol>
            <li>Apresentação dos resultados alcançados no semestre anterior; </li>
            <li>Apresentação do Plano de Ação e Orçamento para o próximo ano; </li>
            <li>Debater e deliberar sobre outros temas relevantes para a Associação. </li>
        </ol>
    </li>
    <li>A cada três anos para eleger os membros da Diretoria e do Conselho Fiscal. </li>
</ol>
</p>

<p><b class="ms-5">Parágrafo Segundo</b> - A Assembleia Geral reunir-se-á, extraordinariamente, a qualquer tempo, por motivos de
    relevância e/ou urgência, quando convocada pela Diretoria, por requerimento de, pelo menos, 2/3 dos associados
    ou a pedido dos membros do Conselho Fiscal. </p>

<p><b class="ms-5">Artigo 15</b> - A Convocação dos associados para Assembleia Geral deverá ser feita via correspondência enviadas
    aos sócios (por correios ou por meio virtual) com 15 (quinze) dias de antecedência. </p>

<p><b class="ms-5">Parágrafo Primeiro</b> As Assembleias Gerais instalar-se-ão em primeira convocação com a presença de pelo
    menos 2/3 (dois terços) dos associados, e, em segunda convocação, trinta minutos após, com qualquer número,
    sendo as deliberações feitas por metade mais um dos associados presentes. </p>

<p>
    <b class="ms-5">Parágrafo Segundo</b> As Assembleias Gerais instalar-se-ão com a presença de pelo menos 2/3 (dois terços)
    dos associados, sendo as deliberações feitas por pelo menos 2/3 (dois terços) dos presentes quando tratarem das
    seguintes matérias:
<ol class="ms-5">
    <li>Alteração ou reforma total ou parcial do Estatuto;</li>
    <li>Exclusão de associado;</li>
    <li>Extinção da Associação.</li>
</ol>
</p>

<p><b class="ms-5">Artigo 16</b> - A Diretoria é um órgão administrativo e executor da Associação, colegiado e eleito pela
    assembleia Geral, responsável pela representação institucional da Associação, sendo composto por um presidente,
    um vice-presidente, um responsável técnico, dois secretários e um tesoureiro. </p>

<p>
    <b class="ms-5">Parágrafo Primeiro</b> Compete à Diretoria:
<ol class="ms-5">
    <li>Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a
        Associação; </li>
    <li>Propor à Assembleia Geral as modificações que se fizerem necessárias no Estatuto; </li>
    <li>Administrar a Associação; </li>
    <li>Aprovar e submeter à Assembleia Geral o plano de ação e o orçamento anuais da Associação, acompanhando sua
        execução; </li>
    <li>Periodicamente, conforme previsão estatutária, convocar Assembleia Geral Ordinária; </li>
    <li>Encaminhar ao Conselho Fiscal os relatórios da Auditoria Independente, caso esta venha a ser contratada;
    </li>
    <li>Deliberar sobre custos, despesas e encargos significativos não previstos no orçamento anual; </li>
    <li>Convocar Assembleia Geral, a qualquer tempo, quando julgar necessário. </li>
    <li>Assinar contratos e demais documentos que se fizerem necessários. </li>
</ol>
</p>

<p><b class="ms-5">Parágrafo Segundo</b> A eleição dos membros da Diretoria será realizada a cada 3 (três anos), em Assembleia
    Geral, sendo permitida a reeleição de qualquer membro. </p>

<p><b class="ms-5">Parágrafo Terceiro</b> São expressamente vedados, sendo nulos e inoperantes, os atos de qualquer membro da
    Diretoria que envolvam a Associação em obrigações ou negócios estranhos aos seus objetivos, finalidades e
    atividades. </p>

<p><b class="ms-5">Parágrafo Quarto</b> O trabalho desenvolvido pelos membros integrantes da Diretoria será sempre gratuito,
    por livre e consciente disposição da vontade de cada membro, não implicando em vínculo empregatício ou
    obrigacional de qualquer natureza. </p>

<p><b class="ms-5">Parágrafo Quinto</b> A Diretoria reunir-se-á pelo menos uma vez ao ano para avaliação de suas atividades e
    consecução dos fins planejados. </p>

<p><b class="ms-5">Parágrafo Sexto</b> Os membros da Diretoria poderão ser destituídos desde que haja justa causa, definida
    está em Assembleia Geral, convocada por pelo menos 2/3 dos sócios. </p>

<p>
    <b class="ms-5">Artigo 17</b> - Compete ao Presidente da Entidade:
<ol class="ms-5">
    <li>Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e promover a
        divulgação da Associação; </li>
    <li>Orientar as atividades da Associação, cumprindo e fazendo cumprir este Estatuto; </li>
    <li>Convocar e presidir Assembleias Gerais; </li>
    <li>Convocar as reuniões da Diretoria que se fizerem necessárias, bem como presidi-las; </li>
    <li>Firmar, em nome da Associação, o aceite de doações, convênios, termos de parceria, termos de compromisso,
        contratos, títulos e acordos de qualquer natureza. </li>
</ol>
</p>

<p>
    <b class="ms-5">Artigo 18</b> - Compete ao Vice-presidente da Diretoria:
<ol class="ms-5">
    <li>Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a
        Associação. </li>
    <li>Substituir o presidente em sua falta ou em caso de impedimento; </li>
    <li>Assumir o mandato de Presidente, em caso de vacância, até o seu término; </li>
    <li>Prestar, de modo geral, sua colaboração ao Presidente para a consecução dos fins da Associação. </li>
</ol>
</p>

<p>
    <b class="ms-5">Artigo 19</b> - Compete ao Primeiro Secretário:
<ol class="ms-5">
    <li>Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a
        Associação; </li>
    <li>Proceder à lavratura e leitura das atas das Assembleias Gerais e das reuniões da diretoria. </li>
    <li>Ser responsável pela convocação dos sócios fundadores e colaboradores para as Assembleias gerais, reuniões
        de diretoria ou qualquer evento. </li>
    <li>Supervisionar a elaboração de relatórios, organizar e dirigir as atividades da secretaria; </li>
    <li>Organizar e arquivar livros e documentos da esfera administrativa. </li>
    <li>Representar a Associação nos casos de impedimento simultâneo do presidente e do vice-presidente. </li>
    <li>Praticar todos os demais atos atribuídos pela presidência da Diretoria. </li>
</ol>
</p>

<p>
    <b class="ms-5">Artigo 20</b> - Compete ao Segundo Secretário:
<ol class="ms-5">
    <li>Substituir o primeiro secretário em sua falta ou impedimento e em casos de vacância. </li>
</ol>
</p>

<p>
    <b class="ms-5">Artigo 21</b> - Compete ao Tesoureiro:
<ol class="ms-5">
    <li>Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a
        Associação; </li>
    <li>Fazer todas as operações de recebimentos, cobranças, pagamentos, depósitos e retiradas de dinheiro, devendo
        os cheques, ordens de pagamento e depósitos bancários serem assinados em conjunto com o Presidente; </li>
    <li>Manter a escrituração contábil de acordo com a legislação pertinente, podendo ser assessorado por
        profissional legalmente habilitado; </li>
    <li>Providenciar a elaboração de relatórios, organizar e dirigir as atividades da tesouraria; </li>
    <li>Preparar o balanço anual para ser submetido à Assembleia Geral Ordinária. </li>
    <li>Propor a contratação de Auditoria Independente, se o movimento econômico da entidade assim o exigir; </li>
    <li>Supervisionar os serviços de contabilidade.</li>
</ol>
</p>

<p>
    <b class="ms-5">Artigo 22</b> - Compete ao Responsável Técnico:
<ol class="ms-5">
    <li>Assessorar a diretoria em questões técnicas relativas a medicina veterinária. </li>
    <li>Assessorar a criação de campanhas e eventos educativos. </li>
    <li>Assessorar no recrutamento e seleção de médicos veterinários e pessoal auxiliar, para trabalhar na Unidade
        Veterinária Móvel. </li>
</ol>

</p>

<p><b class="ms-5">Artigo 23</b> - Havendo vacância de um ou mais cargos da Diretoria, os substitutos serão eleitos por
    Assembleia Geral Extraordinária, especialmente convocada para este fim. </p>

<p><b class="ms-5">Artigo 24</b> - O Conselho Fiscal é um órgão colegiado, eleito pela Assembleia Geral, responsável pela
    fiscalização da Diretoria, sendo composto por 3 (três) membros efetivos e 3 (três) membros suplentes. </p>

<p>
    <b class="ms-5">Parágrafo Primeiro</b> Compete ao Conselho Fiscal:
<ol class="ms-5">
    <li>Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a
        Associação;</li>
    <li>Auxiliar e subsidiar a Diretoria em suas atribuições;</li>
    <li>Opinar e aprovar os balanços, contas e relatórios de desempenho financeiro e contábil e as operações
        patrimoniais realizadas bem como os relatórios da Auditoria Independente, caso esta venha a ser contratada;
    </li>
    <li>Analisar e fiscalizar as ações da Diretoria e demais atos administrativos e financeiros;</li>
    <li>Acompanhar as reuniões da diretoria, a convite ou por seu próprio interesse.</li>
    <li>Convocar Assembleia Geral, a qualquer tempo, quando necessário.</li>
</ol>
</p>

<p><b class="ms-5">Parágrafo Segundo</b> A eleição dos Membros do Conselho Fiscal será realizada a cada 3 (três) anos, em
    Assembleia Geral, sendo permitida a reeleição de qualquer membro. </p>

<p><b class="ms-5">Parágrafo Terceiro</b> O Conselho Fiscal reunir-se-á pelo menos uma vez ao ano para avaliação de suas
    atividades e consecução dos fins planejados. </p>

<p><b class="ms-5">Parágrafo Quarto</b> São expressamente vedados, sendo nulos e inoperantes, os atos de qualquer membro do
    Conselho Fiscal que envolvam a Associação em obrigações ou negócios estranhos aos seus objetivos, finalidades e
    atividades. </p>

<p><b class="ms-5">Parágrafo Quinto</b> O trabalho desenvolvido pelos membros integrantes do Conselho Fiscal é gratuito, por
    livre e consciente disposição da vontade de cada membro, não implicando em vínculo empregatício ou obrigacional
    de qualquer natureza. </p>

<p><b class="ms-5">Parágrafo Sexto</b> Os membros do Conselho Fiscal poderão ser destituídos desde que haja justa causa,
    definida esta em Assembleia Geral, convocada por pelo menos 2 membros da diretoria ou 1/3 dos associados com
    poder de voto. </p>


