<h3 class="text-center mb-3 mt-4" id="cap4">
    Capítulo IV <br>
    Dos recursos financeiros e do patrimônio
</h3>

<p>
    <b class="ms-5">Artigo 25</b> - Os recursos financeiros e o patrimônio da Associação provirão de:
<ol class="ms-5">
    <li>Contribuições destinadas à manutenção das atividades e aos programas da Associação, decorrentes de acordos,
        contratos e termos de parceria firmados com empresas públicas ou privadas; </li>
    <li>Doações, heranças, legados e outras contribuições de pessoas físicas ou jurídicas, nacionais ou
        estrangeiras; </li>
    <li>Rendimentos produzidos por todos os bens, direitos e atividades realizadas para a consecução dos objetivos
        institucionais, tais como, mas não apenas, receitas e aplicações financeiras, prestação de serviços, e
        rendimentos oriundos de direitos autorais, quando couber. </li>
</ol>
</p>

<p><b class="ms-5">Artigo 26</b> - Todo material permanente, acervo técnico, bibliográfico, equipamentos adquiridos ou recebidos
    pela Associação em convênios, projetos ou similares, incluindo qualquer produto, são bens permanentes da
    Instituição e inalienáveis, salvo autorização em contrário expressa da Assembleia Geral. </p>

    <p><b class="ms-5">Parágrafo Primeiro</b> Os bens da Associação não poderão ser onerados, permutados ou alienados sem
    autorização da Assembleia Geral convocada especialmente para este fim. </p>

    <p><b class="ms-5">Parágrafo Segundo</b> As despesas da Associação deverão guardar estreita e específica relação com suas
    finalidades. </p>

    <p><b class="ms-5">Parágrafo Terceiro</b> Os recursos e patrimônio da Associação serão integralmente aplicados no país. </p>
