{% extends 'base.html' %}

{% block titulo %}
<title>Estatuto</title>
{% endblock %}


{% block pagina %}
<div class="container pt-5">
    <h2>Estatuto Social</h2>
    <hr>
</div>

<div class="container">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-3">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#cap1">Capítulo I</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-1-1">Artigo 1º</a>
                            <!--<a class="nav-link ms-3 my-1" href="#item-1-2">Parágrafo único</a>-->
                            <a class="nav-link ms-3 my-1" href="#item-1-3">Artigo 2º</a>
                            <!--<a class="nav-link ms-3 my-1" href="#item-1-4">Parágrafo Primeiro</a> -->
                            <!--<a class="nav-link ms-3 my-1" href="#item-1-5">Parágrafo Segundo</a>-->
                            <a class="nav-link ms-3 my-1" href="#item-1-6">Artigo 3º</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-7">Artigo 4º</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-8">Artigo 5º</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-9">Artigo 6º</a>
                        </nav>


                        <a class="nav-link" href="#cap2">Capítulo II</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-2-1">Artigo 7º</a>
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-2">Parágrafo Primeiro</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-3">Parágrafo Segundo</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-4">Parágrafo Terceiro</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-5">Parágrafo Quarto</a>-->
                            <a class="nav-link ms-3 my-1" href="#item-2-6">Artigo 8º</a>
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-7">Parágrafo Primeiro</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-8">Parágrafo segundo</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-9">Parágrafo terceiro</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-10">Parágrafo quarto</a>-->
                            <a class="nav-link ms-3 my-1" href="#item-2-11">Artigo 9º</a>
                            <a class="nav-link ms-3 my-1" href="#item-2-12">Artigo 10º</a>
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-13">Parágrafo Primeiro</a>-->
                            <!--<a class="nav-link ms-3 my-1" href="#item-2-14">Parágrafo Segundo</a>-->
                        </nav>
                        
                    </nav>
                </nav>
            </div>

            <div class="col-8 col-sm-8 col-md-9" style="max-height: 80vh;">

                    <div id="cap1" class="w-100">
                        {% include 'paginas/estatuto/cap_1.html' %}
                    </div>

                    <hr class="my-5">

                    <div id="cap2" class="w-100">
                        {% include 'paginas/estatuto/cap_2.html' %}
                    </div>
                    <hr class="my-5">
                    <div id="cap3" class="w-100">
                        {% include 'paginas/estatuto/cap_3.html' %}
                    </div>
                </div>

        </div>

</div>
{% endblock %}