{% extends 'base.html' %}

{% block titulo %}
<title>Sobre</title>
{% endblock %}

{% block menuativo3 %} active {% endblock %}
{% block footerativo3 %} active {% endblock %}

{% block pagina %}
    <div class="container py-5">
        <h2>Estatuto Social</h2>
        <hr>
        <p><b></b></p>
    
        <h3>
            Capítulo I <br>
            Da denominação, sede e fins 
        </h3>
        

        <p>
            <b>Artigo 1º</b> - Sob a denominação de ASSOCIAÇÃO DE PROTEÇÃO AOS ANIMAIS DE CENTENÁRIO DO SUL - APACS, fica instituída esta Associação Civil sem fins lucrativos, na forma de ONG - Organização Não Governamental e reconhecida pelo nome SOS PATINHAS, com sede na Cidade Centenário do Sul, Estado do Paraná, na Rua **********, nº **, ************, a qual será regida por este ESTATUTO, e pelas normas legais pertinentes, nos termos do artigo 53 e seguintes do Código Civil.
            <br>
            A entidade congrega e representa no âmbito do Município de Centenário do Sul - PR, e cidades em torno, as pessoas naturais preocupadas em combater a crueldade, o descuido e o abandono praticados contra os animais, e que passa a ter existência legal a partir do registro desta Ata Funcional, no cartório de Registro de Títulos e Documentos da cidade de Centenário do Sul, conforme assembleia Geral realizada em 13 de outubro de 2021. </p>

        <p><b>Parágrafo único:</b> A Associação de Proteção aos Animais de Centenário do Sul é uma Associação de fins não econômicos e com duração por tempo indeterminado e será regida pelo presente Estatuto e pelas demais disposições legais pertinentes.</p>
        
        <p>
            <b>Artigo 2º</b> - A Associação tem objetivo voltado à promoção de atividades e finalidades de relevância pública e social, a saber: 
            <ol>
                <li>Acompanhar o cumprimento de todas as leis, decretos, portarias, regulamentos federais, estaduais e municipais existentes e que venham a existir e que tratem sobre a proteção dos animais.</li>
                <li>Colaborar na criação e atualização de leis de proteção animal.</li>
                <li>Promover meios efetivos para impedir os atos de abuso e crueldade praticados contra animais. </li>
                <li>Criar ou promover campanhas e eventos com o objetivo de estimular o amor e o respeito aos animais.</li>
                <li>Apoiar e assistir à abrigos e ONGs que recolham e cuidem de animais abandonados. </li>
                <li>Dar assistência médico-veterinária aos animais pertencentes à população de baixa renda, assim como a serviços de controle de população animal através de campanhas de castração. </li>
            </ol>
        
        </p>

        <p><b>Parágrafo Primeiro:</b>Para a realização dos objetivos indicados neste artigo, a Associação poderá realizar bazares, feiras, bem como celebrar convênios, contratos, acordos e termos de parceria com empresas privadas, empresas públicas e de economia mista, bem como com Órgãos públicos, organizações, fundações, entidades de classe, outras associações e instituições financeiras públicas ou privadas, desde que o pacto não implique em sua subordinação ou vinculação a compromissos e interesses conflitantes com os objetivos da Associação, nem arrisque sua independência. </p>

        <p><b>Parágrafo Segundo:</b> A Associação poderá receber doações, contribuições, heranças, legados e qualquer outra modalidade de incentivo de pessoas físicas e jurídicas, de direito público ou privado, nacionais e estrangeiras, bem como auxílios e subvenções governamentais, com vistas à consecução de seus objetivos e finalidades a que se destina. </p>

        <p><b>Artigo 3º</b> - No desenvolvimento de suas atividades, a Associação observará os princípios da legalidade, impessoalidade, moralidade, publicidade, economicidade e da eficiência e não fará quaisquer discriminações, não admitindo controvérsias de raça, credo religioso, cor, gênero ou político-partidárias em suas atividades, dependências ou em seu quadro de associados. </p>
         
        <p><b>Artigo 4º</b> - Não haverá hipótese de nenhuma remuneração a qualquer dos membros da diretoria, do conselho fiscal e/ou de colaboradores diretos ou indiretos da Associação, ressalvando-se a possibilidade de, eventualmente, quando explicitamente couber e se aprovado pela assembleia Geral, instituir-se remuneração para profissionais que a ela prestarem serviços específicos, respeitados, em ambos os casos, os valores praticados pelo mercado, na região correspondente a sua área de atuação. </p>
         
        <p><b>Artigo 5º</b> - A Associação adotará um regimento interno para disciplinar seu funcionamento, devendo o mesmo ser submetido à aprovação pela assembleia Geral. </p>
          
        <p><b>Artigo 6º</b> - A Associação poderá organizar-se em tantas unidades quantas se fizerem necessárias, a critério da Assembleia Geral, as quais se regerão por estas mesmas disposições estatutárias. </p>
        
        <h3>
            Capítulo II<br>
            Dos Associados, dos seus direitos e deveres 
        </h3>
        
        <p>
            <b>Artigo 7º</b> - A Associação será constituída por um número ilimitado de associados, distribuídos nas seguintes categorias: 
            <ol>
                <li>Fundadores: serão considerados fundadores os associados que participaram da assembleia de Fundação. </li>
                <li>Voluntários: serão considerados voluntários as pessoas que esporadicamente contribuírem tanto através de serviço prestados como de contribuições financeiras sem compromisso de pagamento de mensalidade. 
                </li>
                <li>Colaboradores: serão considerados colaboradores os Associados que contribuírem regularmente, tanto para a realização dos objetivos desta Associação, como financeiramente através de quantia mensal, a ser fixada pela Assembleia Geral. 
                </li>
                <li>Honorários: Serão considerados sócios honorários, pessoas que se fizerem credoras dessa homenagem por serviços de notoriedade prestados à Associação, por proposta da diretoria à Assembleia Geral. </li>
            </ol>
        </p>
        

        <p><b>Parágrafo Primeiro: </b> A admissão de Sócio Colaborador será realizada através de proposta apresentada a diretoria, por qualquer interessado que queira associar-se e que se comprometa em manter os objetivos propostos no Artigo 2º do presente estatuto. </p>

        <p><b>Parágrafo Segundo:</b> A prática dos atos de associado deve ser feita pessoalmente, sendo admitida a representação por procurador. </p>
         
         
        <p><b>Parágrafo Terceiro:</b> A qualidade de associado é intransmissível e não gera para os herdeiros direitos patrimoniais. </p>

        <p><b>Parágrafo Quarto:</b> Os associados não responderão, nem solidária e nem subsidiariamente, pelas obrigações ou compromissos de qualquer natureza contraídos pela Associação. </p>

        <p>
            <b>Artigo 8º</b> - São direitos dos sócios fundadores e colaboradores: 
            <ol>
                <li>Votar e ser votado para os cargos eletivos da Diretoria e do Conselho Fiscal; </li>
                <li>Tomar parte nas Assembleias Gerais;</li>
                <li>Excluir-se da Associação. </li>
            </ol>
        </p>

          
        Parágrafo Primeiro: O exercício dos direitos de associado está condicionado ao cumprimento integral e regular dos deveres dispostos neste Estatuto. 
          
        Parágrafo segundo: Membros voluntários e honorários não terão direito a voto e nem poderão ser votados. 
          
        Parágrafo terceiro: Somente o associado das categorias de Fundador e colaborador, em dia com as mensalidades e que tenha participado no mínimo de 2/3 das reuniões da Diretoria, nos últimos 12 (doze) meses poderá votar e ser votado, para cargos de direção, sendo exigido, para ser votado, o prazo mínimo de 01 (um) ano de integração ao quadro social. 
          
        Parágrafo quarto: É direito do associado excluir-se da Associação, a qualquer tempo, quando julgar necessário, mediante pedido por escrito junto à Diretoria da Associação. 
          
        Artigo 9º – São deveres do associado: 
        1.	Respeitar e observar as regras deste Estatuto, as disposições regimentais e as deliberações da Assembleia Geral; 
        2.	Acatar as determinações dos órgãos de administração da Associação. 
        3.	Abster-se de assumir compromissos ou tomar atitudes em nome da organização sem prévia autorização da diretoria. 
        4.	Cooperar com a consecução dos objetivos da Associação; 
        5.	Pagar as contribuições associativas em dia, nos prazos e na forma estabelecidas em Assembleia Geral. 
        6.	Comparecer nas Assembleias Gerais. 
          
        Artigo 10 – O associado que descumprir seus deveres e não observar as regras deste Estatuto estará sujeito às seguintes penalidades: 
        1.	Advertência; 
        2.	Exoneração dos cargos e funções que exerça por eleição ou nomeação; 
        3.	Exclusão do quadro societário. 
          
        Parágrafo Primeiro: A exclusão do associado será determinada quando ficar configurada a justa causa, ficando assegurado ao membro o direito de defesa e de recurso, o que deverá ser elaborado por escrito e dirigido à assembleia geral, no prazo de cinco dias úteis a contar da ciência da exclusão. O recurso deverá ser protocolado junto à secretaria da organização. 
          
        Parágrafo Segundo: A exclusão do associado não ensejará dever de indenização, tampouco dever de compensação a qualquer título. 
         


        <h3>
            Capítulo III<br>
            Da organização administrativa 
        </h3>
          
        Artigo 11 – A Associação exercerá suas atividades por meio dos seguintes órgãos: 
        1.	Assembleia Geral; 
        2.	Diretoria; 
        3.	Conselho Fiscal. 
          
        Artigo 12 – A Assembleia Geral é a instância máxima decisória da Associação, sendo composta por todos os sócios fundadores e colaboradores em pleno gozo de seus direitos, competindo-lhes deliberar sobre todos os atos relativos à Associação e tomar as decisões que julgar convenientes à defesa e desenvolvimento dele, sendo soberana nas resoluções não contrárias às leis vigentes e a este Estatuto. 
          
        Artigo 13 – Compete à Assembleia Geral: 
        1.	Eleger, a cada 3 (três) anos, os membros da Diretoria e do Conselho Fiscal, definindo suas funções, atribuições e responsabilidades de acordo com o presente estatuto; 
        2.	Destituir os membros da Diretoria e do Conselho Fiscal; 
        3.	Excluir associados; 
        4.	Aplicar aos associados as penalidades previstas neste Estatuto; 
        5.	Decidir sobre a organização de novas unidades da Associação; 
        6.	Deliberar e aprovar o plano de ação e o orçamento, anuais da Associação. 
        7.	Deliberar e aprovar as reformas e alterações do presente Estatuto; 
        8.	Deliberar e aprovar a aquisição de bens imóveis pela Associação; 
        9.	Autorizar a alienação ou instituição de ônus sobre os bens pertencentes à Associação; 
        10.	Autorizar, se for o caso, a contratação de Auditoria Independente desde que recomendada pelo Diretor Tesoureiro; 
        11.	Deliberar sobre a dissolução da Associação em ato especificamente convocado para tal fim, de maneira que, como órgão máximo decisório, determine sobre a paralisação das atividades, fechamento da sede, continuidade do objeto social, sub-rogação dos direitos e deveres de seus membros e destinação de seus bens patrimoniais remanescentes. 
          
        Artigo 14 – A Assembleia Geral será ordinária ou extraordinária, podendo ser cumulativamente convocadas e realizadas no mesmo local, data e hora e instrumentadas em ata única. 
          
        Parágrafo Primeiro – A assembleia Geral instalar-se-á ordinariamente, por convocação da Diretoria: 
        1.	No primeiro semestre de cada ano para: 
        a.	Analisar o orçamento e o desenvolvimento do plano de ação; 
        b.	Debater e deliberar sobre assuntos de interesse da Associação. 
        c.	Apresentação do Balanço e aprovação das contas do exercício anterior; 
        d.	Apresentação dos resultados alcançados no semestre anterior; 
         
        2.	No segundo semestre de cada ano para: 
        a.	Apresentação dos resultados alcançados no semestre anterior; 
        b.	Apresentação do Plano de Ação e Orçamento para o próximo ano; 
        c.	Debater e deliberar sobre outros temas relevantes para a Associação. 
         
        3.	A cada três anos para eleger os membros da Diretoria e do Conselho Fiscal. 
          
        Parágrafo Segundo – A Assembleia Geral reunir-se-á, extraordinariamente, a qualquer tempo, por motivos de relevância e/ou urgência, quando convocada pela Diretoria, por requerimento de, pelo menos, 2/3 dos associados ou a pedido dos membros do Conselho Fiscal. 
          
        Artigo 15 – A Convocação dos associados para Assembleia Geral deverá ser feita via correspondência enviadas aos sócios (por correios ou por meio virtual) com 15 (quinze) dias de antecedência. 
          
        Parágrafo Primeiro – As Assembleias Gerais instalar-se-ão em primeira convocação com a presença de pelo menos 2/3 (dois terços) dos associados, e, em segunda convocação, trinta minutos após, com qualquer número, sendo as deliberações feitas por metade mais um dos associados presentes. 
          
        Parágrafo Segundo – As Assembleias Gerais instalar-se-ão com a presença de pelo menos 2/3 (dois terços) dos associados, sendo as deliberações feitas por pelo menos 2/3 (dois terços) dos presentes quando tratarem das seguintes matérias: 
        1.	Alteração ou reforma total ou parcial do Estatuto; 
        2.	Exclusão de associado; 
        3.	Extinção da Associação. 
          
        Artigo 16 – A Diretoria é um órgão administrativo e executor da Associação, colegiado e eleito pela assembleia Geral, responsável pela representação institucional da Associação, sendo composto por um presidente, um vice-presidente, um responsável técnico, dois secretários e um tesoureiro. 
          
        Parágrafo Primeiro – Compete à Diretoria: 
        1.	Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a Associação; 
        2.	Propor à Assembleia Geral as modificações que se fizerem necessárias no Estatuto; 
        3.	Administrar a Associação; 
        4.	Aprovar e submeter à Assembleia Geral o plano de ação e o orçamento anuais da Associação, acompanhando sua execução; 
        5.	Periodicamente, conforme previsão estatutária, convocar Assembleia Geral Ordinária; 
        6.	Encaminhar ao Conselho Fiscal os relatórios da Auditoria Independente, caso esta venha a ser contratada; 
        7.	Deliberar sobre custos, despesas e encargos significativos não previstos no orçamento anual; 
        8.	Convocar Assembleia Geral, a qualquer tempo, quando julgar necessário. 
        9.	Assinar contratos e demais documentos que se fizerem necessários. 
          
        Parágrafo Segundo – A eleição dos membros da Diretoria será realizada a cada 3 (três anos), em Assembleia Geral, sendo permitida a reeleição de qualquer membro. 
          
        Parágrafo Terceiro – São expressamente vedados, sendo nulos e inoperantes, os atos de qualquer membro da Diretoria que envolvam a Associação em obrigações ou negócios estranhos aos seus objetivos, finalidades e atividades. 
          
        Parágrafo Quarto – O trabalho desenvolvido pelos membros integrantes da Diretoria será sempre gratuito, por livre e consciente disposição da vontade de cada membro, não implicando em vínculo empregatício ou obrigacional de qualquer natureza. 
          
        Parágrafo Quinto – A Diretoria reunir-se-á pelo menos uma vez ao ano para avaliação de suas atividades e consecução dos fins planejados. 
          
        Parágrafo Sexto – Os membros da Diretoria poderão ser destituídos desde que haja justa causa, definida está em Assembleia Geral, convocada por pelo menos 2/3 dos sócios. 
          
        Artigo 17 – Compete ao Presidente da Entidade: 
        1.	Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e promover a divulgação da Associação; 
        2.	Orientar as atividades da Associação, cumprindo e fazendo cumprir este Estatuto; 
        3.	Convocar e presidir Assembleias Gerais; 
        4.	Convocar as reuniões da Diretoria que se fizerem necessárias, bem como presidi-las; 
        5.	Firmar, em nome da Associação, o aceite de doações, convênios, termos de parceria, termos de compromisso, contratos, títulos e acordos de qualquer natureza. 
         
        Artigo 18 – Compete ao Vice-presidente da Diretoria: 
        1.	Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a Associação. 
        2.	Substituir o presidente em sua falta ou em caso de impedimento; 
        3.	Assumir o mandato de Presidente, em caso de vacância, até o seu término; 
        4.	Prestar, de modo geral, sua colaboração ao Presidente para a consecução dos fins da Associação. 
          
        Artigo 19 – Compete ao Primeiro Secretário: 
        1.	Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a Associação; 
        2.	Proceder à lavratura e leitura das atas das Assembleias Gerais e das reuniões da diretoria. 
        3.	Ser responsável pela convocação dos sócios fundadores e colaboradores para as Assembleias gerais, reuniões de diretoria ou qualquer evento. 
        4.	Supervisionar a elaboração de relatórios, organizar e dirigir as atividades da secretaria; 
        5.	Organizar e arquivar livros e documentos da esfera administrativa. 
        6.	Representar a Associação nos casos de impedimento simultâneo do presidente e do vice-presidente. 
        7.	Praticar todos os demais atos atribuídos pela presidência da Diretoria. 
          
        Artigo 20 – Compete ao Segundo Secretário: 
        1.	Substituir o primeiro secretário em sua falta ou impedimento e em casos de vacância. 
          
        Artigo 21 – Compete ao Tesoureiro: 
        1.	Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a Associação; 
        2.	Fazer todas as operações de recebimentos, cobranças, pagamentos, depósitos e retiradas de dinheiro, devendo os cheques, ordens de pagamento e depósitos bancários serem assinados em conjunto com o Presidente; 
        3.	Manter a escrituração contábil de acordo com a legislação pertinente, podendo ser assessorado por profissional legalmente habilitado; 
        4.	Providenciar a elaboração de relatórios, organizar e dirigir as atividades da tesouraria; 
        5.	Preparar o balanço anual para ser submetido à Assembleia Geral Ordinária. 
        6.	Propor a contratação de Auditoria Independente, se o movimento econômico da entidade assim o exigir; 
        7.	Supervisionar os serviços de contabilidade.
          
        Artigo 22 – Compete ao Responsável Técnico: 
        1.	Assessorar a diretoria em questões técnicas relativas a medicina veterinária. 
        2.	Assessorar a criação de campanhas e eventos educativos. 
        3.	Assessorar no recrutamento e seleção de médicos veterinários e pessoal auxiliar, para trabalhar na Unidade Veterinária Móvel. 
          
        Artigo 23 – Havendo vacância de um ou mais cargos da Diretoria, os substitutos serão eleitos por Assembleia Geral Extraordinária, especialmente convocada para este fim. 
          
        Artigo 24 – O Conselho Fiscal é um órgão colegiado, eleito pela Assembleia Geral, responsável pela fiscalização da Diretoria, sendo composto por 3 (três) membros efetivos e 3 (três) membros suplentes. 
          
        Parágrafo Primeiro – Compete ao Conselho Fiscal: 
        1.	Zelar pelo fiel cumprimento do presente Estatuto e das deliberações da Assembleia Geral e divulgar a Associação; 
        2.	Auxiliar e subsidiar a Diretoria em suas atribuições; 
        3.	Opinar e aprovar os balanços, contas e relatórios de desempenho financeiro e contábil e as operações patrimoniais realizadas bem como os relatórios da Auditoria Independente, caso esta venha a ser contratada; 
        4.	Analisar e fiscalizar as ações da Diretoria e demais atos administrativos e financeiros; 
        5.	Acompanhar as reuniões da diretoria, a convite ou por seu próprio interesse. 
        6.	Convocar Assembleia Geral, a qualquer tempo, quando necessário. 
          
        Parágrafo Segundo – A eleição dos Membros do Conselho Fiscal será realizada a cada 3 (três) anos, em Assembleia Geral, sendo permitida a reeleição de qualquer membro. 
          
        Parágrafo Terceiro – O Conselho Fiscal reunir-se-á pelo menos uma vez ao ano para avaliação de suas atividades e consecução dos fins planejados. 
          
        Parágrafo Quarto – São expressamente vedados, sendo nulos e inoperantes, os atos de qualquer membro do Conselho Fiscal que envolvam a Associação em obrigações ou negócios estranhos aos seus objetivos, finalidades e atividades. 
          
        Parágrafo Quinto – O trabalho desenvolvido pelos membros integrantes do Conselho Fiscal é gratuito, por livre e consciente disposição da vontade de cada membro, não implicando em vínculo empregatício ou obrigacional de qualquer natureza. 
          
        Parágrafo Sexto – Os membros do Conselho Fiscal poderão ser destituídos desde que haja justa causa, definida esta em Assembleia Geral, convocada por pelo menos 2 membros da diretoria ou 1/3 dos associados com poder de voto. 
         
        
         



        <h3>
            Capítulo IV <br>
            Dos recursos financeiros e do patrimônio 
        </h3>

        <p>
            <b>Artigo 25</b> - Os recursos financeiros e o patrimônio da Associação provirão de:
            <ol>
                <li>Contribuições destinadas à manutenção das atividades e aos programas da Associação, decorrentes de acordos, contratos e termos de parceria firmados com empresas públicas ou privadas; </li>
                <li>Doações, heranças, legados e outras contribuições de pessoas físicas ou jurídicas, nacionais ou estrangeiras; </li>
                <li>Rendimentos produzidos por todos os bens, direitos e atividades realizadas para a consecução dos objetivos institucionais, tais como, mas não apenas, receitas e aplicações financeiras, prestação de serviços, e rendimentos oriundos de direitos autorais, quando couber. </li>
            </ol>
        </p>

        <p><b>Artigo 26</b> - Todo material permanente, acervo técnico, bibliográfico, equipamentos adquiridos ou recebidos pela Associação em convênios, projetos ou similares, incluindo qualquer produto, são bens permanentes da Instituição e inalienáveis, salvo autorização em contrário expressa da Assembleia Geral. </p>
        <p><b>Parágrafo Primeiro:</b> Os bens da Associação não poderão ser onerados, permutados ou alienados sem autorização da Assembleia Geral convocada especialmente para este fim. </p>
        <p><b>Parágrafo Segundo:</b> As despesas da Associação deverão guardar estreita e específica relação com suas finalidades. </p>
        <p><b>Parágrafo Terceiro:</b> Os recursos e patrimônio da Associação serão integralmente aplicados no país. </p>

        <h3>
            Capítulo V<br>
            Das disposições gerais e transitórias 
        </h3>
        
        <p><b>Artigo 27</b> - Em caso de dissolução da entidade, o respectivo patrimônio líquido será transferido a outra pessoa jurídica de igual natureza que preencha os requisitos da Lei Federal nº 13.019/2014 e cujo objeto social seja, preferencialmente, o mesmo da entidade extinta. </p>
         
        <p><b>Artigo 28</b> - Escrituração de acordo com os princípios fundamentais de contabilidade e com as Normas Brasileiras de Contabilidade; </p>

        <p><b>Artigo 29</b> - Os casos omissos neste Estatuto serão analisados e resolvidos pela Diretoria e referendados pela Assembleia Geral.</p> 
         
        <p><b>Artigo 30</b> - O Presidente da Entidade está autorizado a proceder ao registro deste Estatuto.</p>

        <p>O presente Estatuto foi votado e aprovado na Assembleia Geral Extraordinária realizada em 13 de outubro de 2021, entrando em vigor a partir da data de seu registro.  </p>
        
        <p>Centenário do Sul - Paraná, 13 de outubro de 2021.</p>
        
        


    </div>
    {% endblock %}