{% extends 'base.html' %}

{% block titulo %}
<title>Sobre</title>
{% endblock %}

{% block menuativo3 %} active {% endblock %}
{% block footerativo3 %} active {% endblock %}

{% block pagina %}
    <div class="container py-5">
        <h2>Sobre Nós</h2>
        <hr>
        
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nemo, ullam quasi quibusdam totam
            voluptates tenetur reprehenderit est alias necessitatibus ratione quae eos nesciunt repudiandae dolore
            reiciendis ducimus? Quasi, aperiam.
        </p>
    </div>
    {% endblock %}