{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Início</title>
{% endblock %}

{% block menuativo1 %} active {% endblock %}
{% block footerativo1 %} active {% endblock %}


{% block content %}
<div id="carousel-imgs" class="container carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-imgs" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-imgs" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'img/Slide1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'img/Slide2.png' %}" class="d-block w-100" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-imgs" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-imgs" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>




</header>




<div class="container py-5">
    <h2>Sobre Nós</h2>
    <hr>
    <p style="text-align: justify; text-justify: inter-word;">
        Organização não governamental que tem por objetivo a proteção e combate a crueldade, o descuido e o abandono
        praticado contra os animais de Centenário do Sul.
    </p>
    <p style="text-align: justify; text-justify: inter-word;">
        Oficialmente fundada em 2021, a Associação de Proteção aos Animais de Centenários do Sul - APACS é uma ONG
        criada pela comunidade centenariense, constituída por indivíduos que buscam impedir atos de abuso e crueldade
        com os animais, bem como, almejam, através de campanhas e eventos, estimular o amor e o respeitos pelos animais.
    </p>

</div>

<div class="container py-5">
    <h2>Apoio</h2>
    <hr>
    <p class="d-flex justify-content-between flex-wrap">
        <img src="https://via.placeholder.com/150x150" class="p-1 img-rodape" alt="logo">
        <img src="https://via.placeholder.com/150x150" class="p-1 img-rodape" alt="logo">
        <img src="https://via.placeholder.com/150x150" class="p-1 img-rodape" alt="logo">
        <img src="https://via.placeholder.com/150x150" class="p-1 img-rodape" alt="logo">
        <img src="https://via.placeholder.com/150x150" class="p-1 img-rodape" alt="logo">
    </p>

</div>

{% endblock %}