<!doctype html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block titulo %}
    <title>Base</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap5.2.3.css' %}">

    <link rel="shortcut icon" href="{% static 'img/icone.png' %}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>

<body>
    <header>
        <div class="bg-dark">
            <nav class="container navbar navbar-dark bg-dark navbar-expand-lg ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/sos.png' %}" alt="Logo" height="24">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {% block menuativo1 %} {% endblock %}" aria-current="page"
                                    href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block menuativo2 %} {% endblock %}" href="#">Adotar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block menuativo3 %} {% endblock %}" href="#">Sobre Nós</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% block pagina %}
    {% endblock %}

    <footer class="bg-dark pt-5">
        <div class="container">
            <div class="d-flex justify-content-center pb-3">
                <img src="{% static 'img/sos.png' %}" alt="Logo" class="img-rodape">
            </div>
            <div class="d-flex justify-content-center ">
                <a href="#" class="fst-normal {% block footerativo1 %} rodapelinks {% endblock %} p-1">Inicio</a>
                <a href="#" class="fst-normal {% block footerativo2 %} rodapelinks {% endblock %} p-1">Adotar</a>
                <a href="#" class="fst-normal {% block footerativo3 %} rodapelinks {% endblock %} p-1">Sobre Nós</a>
            </div>
            <div class="text-center text-white bg-dark p-3">
                <p>
                    Organização Não Governamental SOS Patinhas<br>
                    Centenário do Sul, Paraná, CEP 86.630-000
                </p>
            </div>
            <div class="text-center text-white-50 bg-dark pt-3">
                2023 - Desenvolvido por Denis Muniz Silva
            </div>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap5.2.3.js' %}"></script>

</body>

</html>