{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Cadastro de Adoção</title>
{% endblock %}

{% block pagina %}

<div class="container py-5">
    <h2>Cadastro para Adoção</h2>
    <hr>

    <form action="">
        <div class="row">
            <h3>Dados Pessoais</h3>
            <div class="col-sm-12 col-md-12 mb-3">
                <label for="nome-dono" class="form-label">Nome Completo do Dono:</label>
                <input type="text" class="form-control" id="nome-dono">
            </div>

            <h3>Contato</h3>
            <!-- ========================================================================================================== -->
            <!-- ===== CONTATO ===== -->
            <!-- ========================================================================================================== -->
            <div class="row">
                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="email_1" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email_1" placeholder="exemplo@exemplo.com"
                        maxlength="100">
                </div>

                <div class="col-sm-12 col-md-6 mb-3">
                    <label for="email_2" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email_2" placeholder="exemplo@exemplo.com"
                        maxlength="100">
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                    <label for="telefone0" class="form-label telefone">Fone 01:</label>
                    <input type="text" class="form-control cl_telefone" id="telefone0" onkeyup="mascaraFone0(event)" />
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                    <label for="telefone1" class="form-label telefone">Fone 02:</label>
                    <input type="text" class="form-control cl_telefone" id="telefone1" onkeyup="mascaraFone1(event)" />
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                    <label for="telefone2" class="form-label telefone">Fone 03:</label>
                    <input type="text" class="form-control cl_telefone" id="telefone2" onkeyup="mascaraFone2(event)" />
                </div>

                <div class="col-sm-12 col-md-12 mb-3">
                    <label for="outros_contato" class="form-label">Observações:</label>
                    <textarea class="form-control" id="outros_contato" rows="2" maxlength="250"></textarea>
                </div>
            </div>

            <h3>Endereço</h3>
            <!-- ========================================================================================================== -->
            <!-- ===== ENDERECO ===== -->
            <!-- ========================================================================================================== -->

            <div class="row">
                <div class="col-sm-6 col-md-3 mb-3">
                    <label for="div-cep" class="form-label d-block">CEP:</label>
                    <div id="div-cep" class="d-inline-flex w-100">
                        <input type="text" class="form-control" id="cep" placeholder="00000000" required maxlength="8">
                        <button type="button" onclick="pesquisacep(cep.value);" class="btn btn-primary ms-1">
                            <i class="bi bi-search" id="lupacep"></i>
                            <div class="spinner-border spinner-border-sm text-light d-none" id="spinnercep"
                                role="status"></div>
                        </button>

                    </div>

                    <div class="invalid-feedback show fs-6" id="ceplog">
                        CEP invalido.
                    </div>

                </div>

                <div class="col-sm-6 col-md-2 mb-3">
                    <label for="uf" class="form-label">Estado:</label>
                    <input type="text" class="form-control" id="uf" placeholder="xx" maxlength="2">

                </div>

                <div class="col-sm-12 col-md-7 mb-3">
                    <label for="cidade" class="form-label">Cidade:</label>
                    <input type="text" class="form-control" id="cidade" maxlength="150">
                </div>

                <div class="col-sm-12 col-md-5 mb-3">
                    <label for="bairro" class="form-label">Bairro:</label>
                    <input type="text" class="form-control" id="bairro" maxlength="150">
                </div>

                <div class="col-sm-12 col-md-5 mb-3">
                    <label for="rua" class="form-label">Endereço:</label>
                    <input type="text" class="form-control" id="rua" maxlength="150">
                </div>

                <div class="col-sm-12 col-md-2 mb-3">
                    <label for="numero" class="form-label">Numero:</label>
                    <input type="number" class="form-control" id="numero" placeholder="000" maxlength="10">
                </div>

                <div class="col-sm-12 col-md-12 mb-3">
                    <label for="complemento" class="form-label">Complemento:</label>
                    <textarea class="form-control" id="complemento" rows="2" maxlength="250"></textarea>
                </div>
            </div>

            <h3>Dados do Pet</h3>
            <!-- ========================================================================================================== -->
            <!-- ===== PET ===== -->
            <!-- ========================================================================================================== -->
            <div class="row">

                <div class="col-sm-12 col-md-10 mb-3">
                    <label for="pet-nome" class="form-label">Nome do Pet:</label>
                    <input type="text" class="form-control" id="pet-nome">
                </div>

                <div class="col-sm-12 col-md-2 mb-3">
                    <label for="pet-idade" class="form-label">Idade:</label>
                    <input type="number" class="form-control" id="pet-idade">
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                    <label for="pet-especie" class="form-label">Especie:</label>
                    <input type="text" class="form-control" id="pet-especie">
                </div>
                <div class="col-sm-12 col-md-4 mb-3">
                    <label for="pet-raca" class="form-label">Raça:</label>
                    <input type="text" class="form-control" id="pet-raca">
                </div>

                <div class="col-sm-12 col-md-4 mb-3">
                    <label for="pet-raca" class="form-label">Sexo:</label>
                    <input type="text" class="form-control" id="pet-raca">
                </div>

                <div class="col-sm-12 col-md-12 mb-3">
                    <label for="pet-raca" class="form-label">Qualidades:</label>
                    <input type="text" class="form-control" id="pet-raca">
                </div>
            </div>
        </div>
    </form>
</div>

<script src="{% static 'js/divulgar_cadastro.js' %}"></script>


{% endblock %}