{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Adote</title>
{% endblock %}

{% block menuativo2 %} active {% endblock %}
{% block footerativo2 %} active {% endblock %}

{% block pagina %}


<div class="container py-5">
    <h2>Disponíveis para Adoção</h2>
    <hr>

    <section class="row justify-content-center">

        {% for item in object_list %}
        <div class="p-1 col-12 col-sm-12 col-md-4">
            <div class="card">
                <img src="{{item.img}}" class="card-img-top img-card" alt="Foto do Pet">
                <div class="card-body">
                    <h5 class="card-title">{{item.nome_pet}}</h5>
                    <p class="card-text">
                        <b>Raça:</b> {{item.raca}}<br>
                        <b>Sexo:</b> {{item.sexo}}<br>
                        <b>Idade:</b> {{item.idade}}<br>
                        <b>Qualidades:</b> {{item.qualidades}}<br>
                    </p>
                    <a href="#" class="btn btn-success">
                        <div class="d-flex align-self-center"><img src="{% static 'img/icone.svg' %}"
                                class="me-1 align-self-center ico-card-adotar" alt="..">Adote-me</div>
                    </a>
                    <hr>
                    <span class="d-flex justify-content-center fs-7">Compartilhe</span>
                    <div class="d-flex justify-content-center redes-sociais">
                        <a href="#" class="ms-2 me-2"><i class="bi bi-whatsapp"></i></a>
                        <a href="#" class="ms-2 me-2"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="ms-2 me-2"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>
                Nao existem pets disponíveis para adoção no momento.
            </p>
        {% endfor %}


    </section>



    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item m-1">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true" class="text-dark">&laquo;</span>
                </a>
            </li>
            <li class="page-item m-1"><a class="page-link text-dark" href="#">1</a></li>
            <li class="page-item m-1"><a class="page-link text-dark" href="#">2</a></li>
            <li class="page-item m-1"><a class="page-link text-dark" href="#">3</a></li>
            <li class="page-item m-1">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true" class="text-dark">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}