{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Lista de Adoção</title>
{% endblock %}


{% block pagina %}

<div class="container py-5">
    <h2>Disponíveis para Adoção</h2>
    <hr>

    <div class="d-flex justify-content-end my-3">
        <a href="{% url 'added-pet' %}" class="btn btn-success"><i class="bi bi-plus me-1"></i>Adicionar Novo</a>
    </div>

    <form method="get">
        <div class="row mb-3">
            <label for="busca" class="form-label">Pesquisar:</label>
            <div class="d-flex align-items-end" id="busca">
                <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Nome do Dono ou Pet"
                    class="form-control me-1">
                <button type="submit" class="btn btn-dark">
                    <i class="bi bi-search" id="lupacep"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead>
                <tr class="text-bg-dark">
                    <th scope="col">Status:</th>
                    <th scope="col">Data de Cadastro:</th>
                    <th scope="col">Usúario:</th>
                    <th scope="col">Dono:</th>
                    <th scope="col">Pet:</th>
                    <th scope="col">Opções:</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>
                        {% if item.status == 'd' %}
                        <span class="text-warning fw-bold">Em Adoção</span>
                        {% elif item.status == 'c' %}
                        <span class="text-danger fw-bold">Cancelado</span>
                        {% else %}
                        <span class="text-success fw-bold">Adotado</span>
                        {% endif %}

                    </td>
                    <td>{{item.cadastrado_em}}</td>
                    <td>{{item.cadastrado_por}}</td>
                    <td>{{item.nome_dono}}</td>
                    <td>{{item.nome_pet}}</td>
                    <td>
                        <a href="{% url 'edit-pet' item.pk %}" class="btn btn-primary btn-sm m-1">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url 'delete-pet' item.pk %}" class="btn btn-danger btn-sm m-1">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Nao existem pets disponíveis para adoção no momento.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "paginacao.html" %}

{% endblock %}
