{% extends 'base.html' %}

{% load static %}

{% block titulo %}
<title>Adote</title>
{% endblock %}

{% block menuativo2 %} active {% endblock %}
{% block footerativo2 %} active {% endblock %}

{% block content %}


<div class="container py-5">
    <h2>
        <i class="bi bi-trash3 me-1"></i>
        Excluir registro
    </h2>
    <hr>
    
    <p>
        Deseja excluir o registro?
    </p>
    <p>
        <b>Dono do Pet: </b>{{ object.nome_dono }}<br>
        <b>Nome do Pet: </b>{{ object.nome_pet }}<br>
        <b>Especie/Raça: </b>{{ object.raca }}<br>
    </p>

    <p>
        <b>Data de Cadastro: </b>{{ object.cadastrado_em }}<br>
        <b>Usúario Cadastrante: </b>{{ object.cadastrado_por }}<br>
    </p>

    <p>
        Esta ação não poderá ser desfeita
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash3 me-1"></i>Excluir</button>
    </form>


</div>

{% endblock %}