{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block titulo %}
<title>Login</title>
{% endblock %}

{% block menu %}
{% endblock %}

{% block pagina %}
<div class="container d-flex d-flex justify-content-center">

    <div style="max-width: 450px; width: 100%;">
        <form class="p-5" method="post">
            {% csrf_token %}
            

            <div class="mb-3 w-100">
                <label for="id_username" class="form-label">Usúario:</label>
                {% render_field form.username class="form-control" %}
                <span class="text-danger">{{ form.username.errors }}</span>
            </div>
            <div class="mb-3 w-100">
                <label for="id_password" class="form-label">Senha:</label>
                {% render_field form.password class="form-control" %}
                <span class="text-danger">{{ form.password.errors }}</span>
            </div>
            <button class="btn btn-success">Entrar</button>






        </form>

        <div class="">
            {% for error in form.non_field_errors %}
            {{error}}
            {% endfor %}
        </div>
        
    </div>
    


</div>
{% endblock %}