{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block titulo %}
<title>Login</title>
{% endblock %}

{% block menu %}
{% endblock %}

{% block pagina %}
<div class="text-bg-dark" style="height: 100vh;">
<div class="container d-flex d-flex justify-content-center">

    <div style="max-width: 430px; width: 100%;" class="my-5">

        <div class="d-flex justify-content-center mb-3 mt-5">
            <img src="{% static 'img/sos.png' %}" alt="Logo" class="img-rodape">
        </div>

        <form method="post">
            {% csrf_token %}
            
            <h1 class="mb-3 text-center">Área Administrativa</h1>

            <div class="mb-3 w-100">
                <label for="id_username" class="form-label">Usúario:</label>
                {% render_field form.username class="form-control" %}
                <span class="text-danger">{{ form.username.errors }}</span>
            </div>
            <div class="mb-3 w-100">
                <label for="id_password" class="form-label">Senha:</label>
                {% render_field form.password class="form-control" %}
                <span class="text-danger">{{ form.password.errors }}</span>
            </div>
            <button class="btn btn-success"><i class="bi bi-unlock-fill me-1"></i>Entrar</button>
        </form>


        <div class="">
            {% for error in form.non_field_errors %}
            <div class="alert alert-warning" role="alert">
                {{error}}
            </div>
            {% endfor %}
        </div>

    </div>
    


</div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}