<h3 class="text-center mb-3 mt-1">
    Capítulo I <br>
    Da denominação, sede e fins
</h3>

<p>
    <b class="ms-5" id="item-1-1">Artigo 1º</b> - Sob a denominação de ASSOCIAÇÃO DE PROTEÇÃO AOS ANIMAIS DE CENTENÁRIO DO SUL - APACS, fica
    instituída esta Associação Civil sem fins lucrativos, na forma de ONG - Organização Não Governamental e
    reconhecida pelo nome SOS PATINHAS, com sede na Cidade Centenário do Sul, Estado do Paraná, na Rua <span class="text-nowrap bg-dark border">**********</span>,
    nº <span class="text-nowrap bg-dark border">**</span>, <span class="text-nowrap bg-dark border">************</span>, a qual será regida por este ESTATUTO, e pelas normas legais pertinentes, nos termos do
    artigo 53 e seguintes do Código Civil.
    <br>
    A entidade congrega e representa no âmbito do Município de Centenário do Sul - PR, e cidades em torno, as
    pessoas naturais preocupadas em combater a crueldade, o descuido e o abandono praticados contra os animais, e
    que passa a ter existência legal a partir do registro desta Ata Funcional, no cartório de Registro de Títulos e
    Documentos da cidade de Centenário do Sul, conforme assembleia Geral realizada em 13 de outubro de 2021.
</p>

<p><b class="ms-5" id="item-1-2">Parágrafo único:</b> A Associação de Proteção aos Animais de Centenário do Sul é uma Associação de fins não
    econômicos e com duração por tempo indeterminado e será regida pelo presente Estatuto e pelas demais disposições
    legais pertinentes.</p>

<p>
    <b class="ms-5" id="item-1-3">Artigo 2º</b> - A Associação tem objetivo voltado à promoção de atividades e finalidades de relevância
    pública e social, a saber:
<ol class="ms-5">
    <li>Acompanhar o cumprimento de todas as leis, decretos, portarias, regulamentos federais, estaduais e
        municipais existentes e que venham a existir e que tratem sobre a proteção dos animais.</li>
    <li>Colaborar na criação e atualização de leis de proteção animal.</li>
    <li>Promover meios efetivos para impedir os atos de abuso e crueldade praticados contra animais. </li>
    <li>Criar ou promover campanhas e eventos com o objetivo de estimular o amor e o respeito aos animais.</li>
    <li>Apoiar e assistir à abrigos e ONGs que recolham e cuidem de animais abandonados. </li>
    <li>Dar assistência médico-veterinária aos animais pertencentes à população de baixa renda, assim como a
        serviços de controle de população animal através de campanhas de castração. </li>
</ol>

</p>

<p><b class="ms-5" id="item-1-4">Parágrafo Primeiro:</b> Para a realização dos objetivos indicados neste artigo, a Associação poderá realizar
    bazares, feiras, bem como celebrar convênios, contratos, acordos e termos de parceria com empresas privadas,
    empresas públicas e de economia mista, bem como com Órgãos públicos, organizações, fundações, entidades de
    classe, outras associações e instituições financeiras públicas ou privadas, desde que o pacto não implique em
    sua subordinação ou vinculação a compromissos e interesses conflitantes com os objetivos da Associação, nem
    arrisque sua independência. </p>

<p><b class="ms-5" id="item-1-5">Parágrafo Segundo:</b> A Associação poderá receber doações, contribuições, heranças, legados e qualquer outra
    modalidade de incentivo de pessoas físicas e jurídicas, de direito público ou privado, nacionais e estrangeiras,
    bem como auxílios e subvenções governamentais, com vistas à consecução de seus objetivos e finalidades a que se
    destina. </p>

<p><b class="ms-5" id="item-1-6">Artigo 3º</b> - No desenvolvimento de suas atividades, a Associação observará os princípios da legalidade,
    impessoalidade, moralidade, publicidade, economicidade e da eficiência e não fará quaisquer discriminações, não
    admitindo controvérsias de raça, credo religioso, cor, gênero ou político-partidárias em suas atividades,
    dependências ou em seu quadro de associados. </p>

<p><b class="ms-5" id="item-1-7">Artigo 4º</b> - Não haverá hipótese de nenhuma remuneração a qualquer dos membros da diretoria, do conselho
    fiscal e/ou de colaboradores diretos ou indiretos da Associação, ressalvando-se a possibilidade de,
    eventualmente, quando explicitamente couber e se aprovado pela assembleia Geral, instituir-se remuneração para
    profissionais que a ela prestarem serviços específicos, respeitados, em ambos os casos, os valores praticados
    pelo mercado, na região correspondente a sua área de atuação. </p>

<p><b class="ms-5" id="item-1-8">Artigo 5º</b> - A Associação adotará um regimento interno para disciplinar seu funcionamento, devendo o mesmo
    ser submetido à aprovação pela assembleia Geral. </p>

<p><b class="ms-5" id="item-1-9">Artigo 6º</b> - A Associação poderá organizar-se em tantas unidades quantas se fizerem necessárias, a critério
    da Assembleia Geral, as quais se regerão por estas mesmas disposições estatutárias. </p>
