<h3 class="text-center mb-3 mt-4" id="cap5">
    Capítulo IV <br>
    Dos recursos financeiros e do patrimônio
</h3>

<p>
    <b class="ms-5">Artigo 25</b> - Os recursos financeiros e o patrimônio da Associação provirão de:
<ol class="ms-5">
    <li>Contribuições destinadas à manutenção das atividades e aos programas da Associação, decorrentes de acordos,
        contratos e termos de parceria firmados com empresas públicas ou privadas; </li>
    <li>Doações, heranças, legados e outras contribuições de pessoas físicas ou jurídicas, nacionais ou
        estrangeiras; </li>
    <li>Rendimentos produzidos por todos os bens, direitos e atividades realizadas para a consecução dos objetivos
        institucionais, tais como, mas não apenas, receitas e aplicações financeiras, prestação de serviços, e
        rendimentos oriundos de direitos autorais, quando couber. </li>
</ol>
</p>

<p><b class="ms-5">Artigo 26</b> - Todo material permanente, acervo técnico, bibliográfico, equipamentos adquiridos ou recebidos
    pela Associação em convênios, projetos ou similares, incluindo qualquer produto, são bens permanentes da
    Instituição e inalienáveis, salvo autorização em contrário expressa da Assembleia Geral. </p>

    <p><b class="ms-5">Parágrafo Primeiro</b> Os bens da Associação não poderão ser onerados, permutados ou alienados sem
    autorização da Assembleia Geral convocada especialmente para este fim. </p>

    <p><b class="ms-5">Parágrafo Segundo</b> As despesas da Associação deverão guardar estreita e específica relação com suas
    finalidades. </p>

    <p><b class="ms-5">Parágrafo Terceiro</b> Os recursos e patrimônio da Associação serão integralmente aplicados no país. </p>

<h3 class="text-center mb-3 mt-4">
    Capítulo V<br>
    Das disposições gerais e transitórias
</h3>

<p><b class="ms-5">Artigo 27</b> - Em caso de dissolução da entidade, o respectivo patrimônio líquido será transferido a outra
    pessoa jurídica de igual natureza que preencha os requisitos da <a
        href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/l13019.htm" target="_blank">Lei Federal
        nº 13.019/2014</a> e cujo objeto social seja, preferencialmente, o mesmo da entidade extinta. </p>

<p><b class="ms-5">Artigo 28</b> - Escrituração de acordo com os princípios fundamentais de contabilidade e com as Normas
    Brasileiras de Contabilidade; </p>

<p><b class="ms-5">Artigo 29</b> - Os casos omissos neste Estatuto serão analisados e resolvidos pela Diretoria e referendados
    pela Assembleia Geral.</p>

<p><b class="ms-5">Artigo 30</b> - O Presidente da Entidade está autorizado a proceder ao registro deste Estatuto.</p>

<p class="py-3">O presente Estatuto foi votado e aprovado na Assembleia Geral Extraordinária realizada em 13 de outubro de 2021,
    entrando em vigor a partir da data de seu registro. </p>

<p class="text-end py-3">Centenário do Sul - Paraná, 13 de outubro de 2021.</p>

<div class="text-center py-3">
    <p>Claudio Alexandre Terra Prado</p>
    <p>Danielli Aparecida da Silva Covre</p>
    <p>Fabiana Tsuno Porto</p>
    <p>Hianca Cavalari Queiroga</p>
    <p>Janaine da Silva Domingos</p>
    <p>Julia Tsuno Porto</p>
    <p>Ketlyn dos Santos Lara</p>
    <p>Maria Madalena Casteluzzi da Silva</p>
    <p>Maura da Cunha</p>
    <p>Paula Alessandra de Melo Marques</p>
    <p>Sarah Franco de Podestá</p>
    <p>Sérgio Serapião da Silva</p>
    <p>Simeire Daniela Correia</p>
    <p>Sirlei Cruz da Silva</p>
    <p>Valdir Antonio Piovesan</p>
</div>