<h3 class="text-center mb-3 mt-4" id="cap2">
    Capítulo II<br>
    Dos Associados, dos seus direitos e deveres
</h3>

<p>
    <b class="ms-5" id="item-2-1">Artigo 7º</b> - A Associação será constituída por um número ilimitado de associados, distribuídos nas
    seguintes categorias:
<ol class="ms-5">
    <li>Fundadores: serão considerados fundadores os associados que participaram da assembleia de Fundação. </li>
    <li>Voluntários: serão considerados voluntários as pessoas que esporadicamente contribuírem tanto através de
        serviço prestados como de contribuições financeiras sem compromisso de pagamento de mensalidade.
    </li>
    <li>Colaboradores: serão considerados colaboradores os Associados que contribuírem regularmente, tanto para a
        realização dos objetivos desta Associação, como financeiramente através de quantia mensal, a ser fixada pela
        Assembleia Geral.
    </li>
    <li>Honorários: Serão considerados sócios honorários, pessoas que se fizerem credoras dessa homenagem por
        serviços de notoriedade prestados à Associação, por proposta da diretoria à Assembleia Geral. </li>
</ol>
</p>


<p><b class="ms-5"  id="item-2-2">Parágrafo Primeiro: </b> A admissão de Sócio Colaborador será realizada através de proposta apresentada a
    diretoria, por qualquer interessado que queira associar-se e que se comprometa em manter os objetivos propostos
    no Artigo 2º do presente estatuto. </p>

<p><b class="ms-5"  id="item-2-3">Parágrafo Segundo:</b> A prática dos atos de associado deve ser feita pessoalmente, sendo admitida a
    representação por procurador. </p>


<p><b class="ms-5"  id="item-2-4">Parágrafo Terceiro:</b> A qualidade de associado é intransmissível e não gera para os herdeiros direitos
    patrimoniais. </p>

<p><b class="ms-5"  id="item-2-5">Parágrafo Quarto:</b> Os associados não responderão, nem solidária e nem subsidiariamente, pelas obrigações ou
    compromissos de qualquer natureza contraídos pela Associação. </p>

<p>
    <b class="ms-5"  id="item-2-6">Artigo 8º</b> - São direitos dos sócios fundadores e colaboradores:
<ol class="ms-5">
    <li>Votar e ser votado para os cargos eletivos da Diretoria e do Conselho Fiscal; </li>
    <li>Tomar parte nas Assembleias Gerais;</li>
    <li>Excluir-se da Associação. </li>
</ol>
</p>

<p><b class="ms-5"  id="item-2-7">Parágrafo Primeiro:</b> O exercício dos direitos de associado está condicionado ao cumprimento integral e
    regular dos deveres dispostos neste Estatuto. </p>

<p><b class="ms-5"  id="item-2-8">Parágrafo segundo:</b> Membros voluntários e honorários não terão direito a voto e nem poderão ser votados.
</p>

<p><b class="ms-5"  id="item-2-9">Parágrafo terceiro:</b> Somente o associado das categorias de Fundador e colaborador, em dia com as
    mensalidades e que tenha participado no mínimo de 2/3 das reuniões da Diretoria, nos últimos 12 (doze) meses
    poderá votar e ser votado, para cargos de direção, sendo exigido, para ser votado, o prazo mínimo de 01 (um) ano
    de integração ao quadro social. </p>

<p><b class="ms-5"  id="item-2-10">Parágrafo quarto:</b> É direito do associado excluir-se da Associação, a qualquer tempo, quando julgar
    necessário, mediante pedido por escrito junto à Diretoria da Associação. </p>

<p>
    <b class="ms-5"  id="item-2-11">Artigo 9º</b> - São deveres do associado:
<ol class="ms-5">
    <li>Respeitar e observar as regras deste Estatuto, as disposições regimentais e as deliberações da Assembleia
        Geral; </li>
    <li>Acatar as determinações dos órgãos de administração da Associação. </li>
    <li>Abster-se de assumir compromissos ou tomar atitudes em nome da organização sem prévia autorização da
        diretoria. </li>
    <li>Cooperar com a consecução dos objetivos da Associação; </li>
    <li>Pagar as contribuições associativas em dia, nos prazos e na forma estabelecidas em Assembleia Geral. </li>
    <li>Comparecer nas Assembleias Gerais. </li>
</ol>
</p>

<p>
    <b class="ms-5"  id="item-2-12">Artigo 10</b> - O associado que descumprir seus deveres e não observar as regras deste Estatuto estará
    sujeito às seguintes penalidades:
<ol class="ms-5">
    <li>Advertência;</li>
    <li>Exoneração dos cargos e funções que exerça por eleição ou nomeação;</li>
    <li>Exclusão do quadro societário. </li>
</ol>
</p>

<p><b class="ms-5"  id="item-2-13">Parágrafo Primeiro:</b> A exclusão do associado será determinada quando ficar configurada a justa causa,
    ficando assegurado ao membro o direito de defesa e de recurso, o que deverá ser elaborado por escrito e dirigido
    à assembleia geral, no prazo de cinco dias úteis a contar da ciência da exclusão. O recurso deverá ser
    protocolado junto à secretaria da organização. </p>

<p><b class="ms-5"  id="item-2-14">Parágrafo Segundo:</b> A exclusão do associado não ensejará dever de indenização, tampouco dever de
    compensação a qualquer título. </p>
