{% load static %}
<header>
    <div class="bg-dark">
        <nav class="container navbar navbar-dark bg-dark navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/sos.png' %}" alt="Logo" height="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link botoes_ativos" aria-current="page"
                                href="{% url 'home' %}">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link botoes_ativos"
                                href="{% url 'adotar' %}">Adotar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link botoes_ativos"
                                href="{% url 'estatuto' %}">Estatuto</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" aria-hidden="true"
                                        href="{% url 'lista-pet'  %}"><i class="bi bi-list me-1"></i>Pet</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="{% url 'admin:index' %}">Administração do Django</a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="d-flex justify-content-end">




                        {% if user.is_authenticated %}
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    👤 {{request.user.username}}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'perfil' %}">
                                            🪪 Perfil</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'alterar_usuario' %}">
                                        👤 Alterar Usuário</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">
                                            🔐 Alterar Senha</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li class="text-center">

                                        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">
                                                <i class="bi bi-door-closed"></i> Sair
                                            </button>
                                        </form>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% else %}

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page"
                                        href="{% url 'login' %}">Login</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>


<div class="modal" id="ModalSair" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirme para sair do sistema.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-warning" href="{% url 'logout' %}">Confirmo Sair</a>
            </div>
        </div>
    </div>
</div>