{% load static %}
<footer class="bg-dark pt-5">
    <div class="container d-block">
        <div class="d-flex justify-content-center pb-3">
            <img src="{% static 'img/sos.png' %}" alt="Logo" class="img-rodape">
        </div>

        <div class="pt-3 text-center">
            <p class="text-bg-dark pt-3">
                Organização Não Governamental SOS Patinhas<br>
                Centenário do Sul, Paraná, CEP 86.630-000
            </p>
            <span class="text-white-50 pt-3">
                2023 - Desenvolvido por Denis Muniz Silva
            </span>
        </div>
    </div>
</footer>